<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>

<body>
    <a href="/">Home</a>
    <h1>{{ author.author }}</h1>
    <h3>{{ author.bio }}</h3>

    <p>
        This person has submitted the following recipes:
    </p>

    <ul>
        {% for item in recipes %}
            <li><a href="/recipes/{{ item.id }}/">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
</ul>
<br>
<h3>---{{ author.name }}'s favorite recipes---</h3>

{% for favorite in favorites %}
  <p><a href="/recipe/{{favorite.id}}/">{{favorite.title}}</a></p>
  <p>Author: {{ favorite.author }}</p>
  <p>Description: {{ favorite.description }}</p>
  <p>Time Required: {{ favorite.time_required }}</p>
  <p>Instructions: {{ favorite.instructions }}</p>
  <br>
{% endfor %}


    
</body>