<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>


<body>
    <h1>{{ heading|default:"Recipes!" }}</h1>
    <h3>Recipes:</h3>

    <ul>
        {% for item in recipes %}
            <li><a href="/recipes/{{ item.id }}/">{{ item.title }}</a></li>
        {% endfor %}
    </ul>

    <a href="/author/add/">Add An Author</a>

    <p>

    </p>

    <a href="/recipe/add/">Add A Recipe</a>

</body>
